html, body {
  /* color: rgb(49, 49, 49); */
  font-family: Helvetica;

}

h1 {
  text-align: center;
}


html {
  display: table;
  margin: auto;
}

body {
  width: 62.5rem;
  display: table-cell;
  vertical-align: middle;
}