input {
  margin: 5px;
}

#form-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#sect-1 {
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 1;
}

#sect-2 {
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 2;
}

#sect-3 {
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}

#sect-4 {
  text-align: center;
  grid-column-start: 3;
  grid-row-start: 2;
}